.news-feed-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 2.5rem;
}

@media only screen and (max-width: 1200px){
    .news-feed-wrapper{
        grid-template-columns: 1fr;
    }
}