.total-wrapper{
    display: grid;
    .information-widget-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
    }
    .row-unit-total{
        display: flex;
        justify-content: space-between;
    }
    .description-item{
        width: 50%;
    }
    .button-submit{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 1rem 0;
    }
}