#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.header-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-control{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  cursor: pointer;
  &-name{
    margin:0 1rem;
  }
}
.ant-popover-inner-content{
  .item-user-control{
    padding: .5rem 1.2rem;
   cursor: pointer;
   transition: all .3s;
   &:hover{
     background-color: #f3f3f3;
   }
  }
}