.login-wrapper {
    .login-form {
      border-radius: 5px;
      width: 500px;
      background-color: white;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 40px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      @media screen and(max-width: 750px) {
        width: 300px;
      }
      .login-form-button {
        margin-top: 5px;
        border-radius: 5px;
        height: 35px;
      }
      .login-title {
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
      }
    }
    .login-background-img {
      background: rgb(50,99,166);
      background: linear-gradient(90deg, rgba(50,99,166,1) 0%, rgba(0,228,255,1) 100%);
      overflow: hidden;
      padding: 50vh;
      @media screen and(max-width: 750px) {
        overflow: hidden;
        padding: 50vh 50vw;
      }
    }
  }
  